<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Online Book Ordering page</title>

        <link rel="stylesheet" href="/styles.css">
        

    </head>

    <body>

        <div class="login-box">
            <div class="login-header">
                <header>Sign up</header>
            </div>

            <form action="/signup" method="post">
            <div class="input-box">
                <input type="text" class="input-field" placeholder="username" name="username" autocomplete="off" required>
            </div>

            <div class="input-box">
                <input type="password" class="input-field " id="pwbox" placeholder="Password" name="password" autocomplete="off" required>
            </div>

            <div class="password-show">
                <section>
                    <input type="checkbox" id="check">
                    <label for="check">Show Password</label>
                </section>
                <section>
                    <p>Already have an Account? <a href="/">Log in</a></p>
                </section>
            </div>

            <div class="input-submit">
                <button type="submit" class="submit-btn" id="submit">Sign up</button>
            </div>
        </form>
        </div>



        
        <script>

       document.getElementById('check').addEventListener('change', function() {
    const passwordInput = document.getElementById('pwbox'); 
    if (this.checked) {
        passwordInput.type = 'text'; 
    } else {
        passwordInput.type = 'password'; 
    }
});



        </script>
  </body>
  </html>